<form action="/questions" method="post">
    <input type="text" name="q1">
    <input type="text" name="q2">
    <select name="q3">
        <option value="1">Volvo</option>
        <option value="2">Saab</option>
        <option value="3">Fiat</option>
        <option value="4">Audi</option>
      </select>

      <select  name="q4">
        <option value="1">Volvo</option>
        <option value="2">Saab</option>
        <option value="3">Fiat</option>
        <option value="4">Audi</option>
      </select>
    <button>Submit</button>
</form>