<h1>THIS IS A DUMMY FORM IT IS STILL TO BE DEVELOPED BY THE FRONTEND TEAM</h1>
<h1>THIS FORM WILL CONTAIN AL THE questions WHICH WILL BE ASKED FROM USER ABOUT HIS MENTAL HEALTH TO APPLY ML MODEL ON THE ANSWERS</h1>
<h1>AFTER DEVELOPNMENT OF THE FRONTEND PORTION WE NEED TO DO LITTLE HANGES IN THE BACEND BECAUSE WE DIDN;T KNOW ABOUT THE QUESTIONS NOW</h1>


<form action="/questions" method="post">
    <input type="text" name="q1">
    <br>
    <input type="text" name="q2">
    <br>
    <select name="q3">
        <option value="1">Volvo</option>
        <option value="2">Saab</option>
        <option value="3">Fiat</option>
        <option value="4">Audi</option>
      </select>
      <br>
      <select  name="q4">
        <option value="1">Volvo</option>
        <option value="2">Saab</option>
        <option value="3">Fiat</option>
        <option value="4">Audi</option>
      </select>
    <button>Submit</button>
</form>