<%- include("./includes/header",{pageTitle : pageTitle}) -%>
<%- include("./includes/navigation") -%>

<section class="get-Started">
        <div>
                <a class="btn" href="/signup">Get Started</a>
        </div>
    
</section>

<%- include("./includes/footer") -%>